

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Playfair+Display:ital,wght@1,400;1,700&family=Satisfy&display=swap');
#root{
    background-color: #111111;
    
    font-family: 'Inconsolata', monospace;
  

}




section{
    position: relative;
    place-items: center;
    align-items: center;
    min-height: 100vh;
}

.Scroll{
    position: fixed;
    color: #00FF7F;
    bottom: 1%;
    right:  2%;
    font-size: 50px;
    cursor: pointer;
   
}

.inicio{
    display: flex;
    justify-content: center;
    align-items: start;

}


.cont1{
    display: grid;
    grid-template-rows: 30%;
    grid-template-columns: min(50%);
    grid-template-areas: 
    
    "t1 t1"
    "im1 p1"
    
    
    ;
    gap: 20px;
}

.im1{
    grid-area: im1;
    width: 80%;
    height: 70%;
    align-self: self-start;
    display: flex;
    justify-content: center;

}

.im1 > img{
    width: 100%;
    height: 100%;
}




.t1{
    grid-area: t1;
    
    width: 99%;
    border: 1px solid springgreen;

    text-align: center;

    background-image: linear-gradient(to top, green,aqua);
    background-clip: text;
    color:black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    
    font-size: 30px;
}





h3{
    background-image: linear-gradient(to top, green,aqua);
    background-clip: text;
    color:black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 30px; 
    

}

.p1{
    grid-area: p1;
    width: 90%;
    height: 70%;
    
    align-self: self-start;

}

.p1 > p{
  
    color: rgb(255, 255, 255);
    font-size: 21px;
    align-self: self-start;
    text-align: justify;
}

.socialm{
    display: flex;
    justify-content: center;
    gap: 30px;
}
 svg{
    color: aqua;
    font-size: 25px;
    
}

svg:hover{
    color: springgreen;
    font-size: 25px;
    cursor: pointer;

}

.socialm > a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}






p > strong{
    background-image: linear-gradient(to top, cyan,#00FF7F);
    background-clip: text;
    color:black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


/*Projetos*/

.cont2{
    display: flex;
    place-items: center;
    align-items: center;
    min-height: 100vh;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
   
   

   
}



.item1{
    width: 250px;
    height: auto;
    border: 1px solid transparent;
    border-radius: 30%;
    border-image:linear-gradient(to top, green,aqua);
    border-image-slice: 1;
   
   }
   
   .item-txt{
       display: flex;
       padding: 10px;
       flex-direction: column;
       color: white;
       
   }


   .item-txt >p{
       display: -webkit-box;
       -webkit-line-clamp: 3;
       -webkit-box-orient: vertical;
       overflow: hidden;
       text-overflow: ellipsis;
       font-size: 20px;
       margin: 20px 0 ;
   }


   .item-txt > span{
       text-align: center;
       color: aqua;
   font-size: 20px;
   }


   .item-img  img{
       width:100%;
       height: 100%;
       object-fit: cover;
      
     
   }
   span > a {
    color: aqua;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: springgreen;
    
    
      
       
   }
 
   
   .cont2 > div:hover{
       animation: itens 1s infinite;
       -webkit-line-clamp: 4;
      
   }

   
   
   
   @keyframes itens {
       0%{
           transform: translateY(0);
       }
   
       50%{
           transform: translateY(-20px);
       }
   
       100%{
           transform: translateY(0);
       }
   }

   /*projeto-end*/

/*certificados*/
   .cont3{
    display: flex;
   

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
   
   

   
}

.img-certs{
    width: 450px;
    height: 400px;
}

.img-certs > img{
    width: 100%;
    height: 100%;
}


/*certificados-end*/







@media (max-width: 700px) {

    .cont1{
        display: grid;
        place-items: center;
        align-items: center;
        min-height: 100vh;
        margin-top: 15%;
        grid-template-rows: 10%;
        grid-template-areas: 

        "t1 t1"
        "p1 p1"
        ;
    
       
    }

    .im1{
        display: none;
    }

    .t1{
        grid-area: t1;
        width: 100%;
    
        text-align: center;
    
        background-image: linear-gradient(to top, springgreen,green);
        background-clip: text;
        color:black;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;  
        
        font-size: 20px;
    }





   
}
